# Python files #
################

# setup.py working directory
build
__pycache__
.coverage
.pytest_cache

# sphinx build directory
_build

# setup.py dist directory
dist
doc/build
doc/cdoc/build

# Documentation files #
#######################
/doc/build
/doc/source/dev_reference/generated
/doc/source/source/auto_examples

# Data in notebooks #
notebooks/*.nc

# Built data "
*.py[cdx]

